<style type="text/css">
 .row{
  margin-top: 90px;
}
h6{
  font-size: 20px!important;
  color: white!important;
}
h6.a{
  color:hsl(210, 29%, 29%)!important;
}
.boton{
  background-color: #16A085!important;
  border-color: #16A085!important;
  color: white!important;
}

.boton:hover{
  background-color: #1ABC9C!important;
  border-color: #1ABC9C!important;
  color: white!important;
}
.panel{
  background-color: hsl(210, 29%, 29%);

}
h5{
  font-size: 28px!important;
  color: hsl(210, 29%, 29%)!important;
 
}


</style>
<div class="row">
  <h5>Perfil</h5>
  <div class="panel">
<%= form_for(@profile) do |f| %>
  <div class="field">
    <h6>Nombre: </h6>
    <%= f.text_field :nombre,  :required => true %>
  </div>
  <div class="field">
   <h6>Puesto: </h6>
    <%= f.text_field :puesto,  :required => true %>
  </div>
    <div class="field">
    <h6>Empresa: </h6>
    <%= f.text_field :empresa,  :required => true%>
  </div>
  <div class="field">
    <h6>Movil: </h6>
    <%= f.text_field :movil, :required => true, :placeholder => "+52claveladanumeromovil ejemplo +525500000000"%>
  </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit "Guardar", :class => "boton" %>
  </div>
<% end %>
</div>
</div>