<style type="text/css">
 .row{
  margin-top: 120px;
}
h6{
  font-size: 20px!important;
  color: white!important;
}
h6.a{
  color:hsl(210, 29%, 29%)!important;
}
.boton{
  background-color: #16A085!important;
  border-color: #16A085!important;
  color: white!important;
}

.boton:hover{
  background-color: #1ABC9C!important;
  border-color: #1ABC9C!important;
  color: white!important;
}
.panel{
  background-color: hsl(210, 29%, 29%)!important;

}

</style>
<div class="row">
  <div class="panel">
<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h6>Nombre: </h6>
    <%= f.text_field :nombre,  :required => true %>
  </div>
  <div class="field">
   <h6>Puesto: </h6>
    <%= f.text_field :puesto,  :required => true %>
  </div>
  <div class="field">
    <h6>Movil: </h6>
    <%= f.text_field :movil,  :required => true%>
  </div>
  
    <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit "Guardar", :class => "boton" %>
  </div>
<% end %>
</div>
</div>