<style type="text/css">
 .row{
  margin-top: 120px;
}

.button.button-success.button-cons{
  background-color: #16A085!important;
  border-color: #16A085!important;
  color: white!important;
  width: auto!important;
  float: left!important;
  margin-left: 10%!important;
}
.button.button-success.button-cons:hover{
 background-color: #1ABC9C!important;
  border-color: #1ABC9C!important;
  color: white!important;
  width: auto!important;
  float: left!important;
}
.panel{
  background-color: hsl(210, 29%, 29%)!important;
  text-align: center!important;
  width: 60%;
  margin-left: 20%!important;

}
h6{
  font-size: 20px!important;
  color: white!important;
  float: right!important;
}
.i{
    color: hsl(194, 64%, 55%)!important;
  }

.branda{
    height: 53px!important;
    font-size: 30px!important;
    font-weight: 700!important;
    line-height: 1.042!important;
    color: white!important;
   
  }
  

  input{
    width: 80%!important;
  }
 .label{
  color: white!important;
  font-size: 20px;
  float: left!important;
  margin-left: 10%!important;
  margin-bottom: 2%!important;
 }
 .button.button-block.button-lg.button-warning{
  background-color: hsl(48, 89%, 50%)!important;
  border-color: hsl(48, 89%, 50%)!important;
  color: white!important;
  width: auto!important;
  float: left!important;
  margin-right: 10%!important;
  margin-left: 2%!important;

}
.button.button-block.button-lg.button-warning:hover{
  background-color: #F39C12!important;
  border-color: hsl(35, 84%, 57%)!important;
  color: white!important;
  width: auto!important;
  float: left!important;
  margin-right: 10%!important;
  margin-left: 2%!important;

}
.contenedor{ 
  overflow: hidden; /*padre*/
  width: 100%;
}
.contenedor .a, .contenedor .b{  /*hijos*/
  float: left;
  margin-left: 10%!important;
}
.recover{
  color: white!important;
  font-size: 18px;
  float: left!important;
  margin-left: 10%!important;
  margin-top: 2%!important;

}

</style>
<div class="row">
  <div class="panel">
  <span class="branda"> tzir<span class="i">i</span> - login</span><br><br><br>
  
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label "Correo electronico", :class=> "label" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "Contraseña", :class=> "label" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div class="contenedor">
      <p><%= f.check_box :remember_me, :class => "a" %><label class="b">Recordar cuenta</label> </p>
      </div>
  <% end -%>
   
    <div class="contenedor">
       <%= f.submit "Iniciar Sesión" ,:class => "button button-success button-cons" %>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Registrar", new_registration_path(resource_name), :class => "button button-block button-lg button-warning" %><br />
        <% end -%>
    </div>
  <% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Recupera tu password?", new_password_path(resource_name),:class => "recover" %><br />
 <% end -%>
</div>
</div>